/playground/nbproject/private/
/Praktikum/praktikum4/nbproject/private/
/Praktikum/praktikum1/nbproject/private/
/Praktikum/tipedata/nbproject/private/
/Praktikum/tipedata/build/
/Praktikum/percabangan/nbproject/private/
/Praktikum/percabangan/build/
/Praktikum/praktikum5/nbproject/private/
/Praktikum/praktikum5/build/
